@font-face {
  font-family: 'roboto-thin';
  src: url('../font/roboto/Roboto-Thin/RobotoThin.eot');
  src: url('../font/roboto/Roboto-Thin/RobotoThin.eot') format('embedded-opentype'),
  url('../font/roboto/Roboto-Thin/RobotoThin.woff2') format('woff2'),
  url('../font/roboto/Roboto-Thin/RobotoThin.woff') format('woff'),
  url('../font/roboto/Roboto-Thin/RobotoThin.ttf') format('truetype'),
  url('../font/roboto/Roboto-Thin/RobotoThin.svg#RobotoThin') format('svg');
}
@font-face {
  font-family: 'roboto-bold';
  src: url('../font/roboto/Roboto-Bold/RobotoBold.eot');
  src: url('../font/roboto/Roboto-Bold/RobotoBold.eot') format('embedded-opentype'),
  url('../font/roboto/Roboto-Bold/RobotoBold.woff2') format('woff2'),
  url('../font/roboto/Roboto-Bold/RobotoBold.woff') format('woff'),
  url('../font/roboto/Roboto-Bold/RobotoBold.ttf') format('truetype'),
  url('../font/roboto/Roboto-Bold/RobotoBold.svg#RobotoBold') format('svg');
}
@font-face {
  font-family: 'roboto-mediumitalic';
  src: url('../font/roboto/Roboto-MediumItalic/RobotoMediumItalic.eot');
  src: url('../font/roboto/Roboto-MediumItalic/RobotoMediumItalic.eot') format('embedded-opentype'),
  url('../font/roboto/Roboto-MediumItalic/RobotoMediumItalic.woff2') format('woff2'),
  url('../font/roboto/Roboto-MediumItalic/RobotoMediumItalic.woff') format('woff'),
  url('../font/roboto/Roboto-MediumItalic/RobotoMediumItalic.ttf') format('truetype'),
  url('../font/roboto/Roboto-MediumItalic/RobotoMediumItalic.svg#RobotoMediumItalic') format('svg');
}
