/* color codes */
$red : #FF0000;
$dark-gray: #6b6363;
$light-gray: #afadad;
$blue: #0000FF;
$white: #fff;
$whitesmoke: #f5f5f5;
$gray:#D3D3D3;
$black: #000;
$cadetblue:#5f9ea0;
$yellow:#FFFF00;
$green:#67991C;
$brown:#7A5230;
$orange:#FFA500;

/* image url */
$banner : url("../images/banner.jpg");
$singapore : url("../images/379237.jpg");
$adventure : url("../images/adventure.jpg");
$agra : url("../images/agra.jpg");
$rings : url("../images/rings-tra.jpg");
$beaches : url("../images/beaches.jpg");
$bhutan : url("../images/bhutan adventure.jpg");
$japan : url("../images/birds-ruby-throated-hummingbird-beautiful-animal-photography-avian-wildlife-wide-screen-photo-bird-images.jpg");
$book: url("../images/book.jpg");
$bali : url("../images/Brilliant-Scenery-Wallpaper-Hut-Image-Water-HD-Picture.jpg");
$china : url("../images/chine.jpg");
$food : url("../images/food.jpg");
$goa : url("../images/goa.jpg");
$whiteflower: url("../images/il_570xN.332819678.jpg");
$star : url("../images/img-thing.jpeg");
$kid : url("../images/kid friendly.jpg");
$wildlife : url("../images/monkeys_Wherecoolthingshappen.jpg");
$adrenaline : url("../images/adrenaline.jpg");
$monuments : url("../images/monuments.jpg");
$monkey : url("../images/3.jpg");
$dragon : url("../images/mountain.jpg");
$party : url("../images/party.jpg");
$map : url("../images/map.jpg");
$pinkflower : url("../images/springchariot.jpg");
$tibet : url("../images/tibet.jpg");
$tiger : url("../images/tiger_grant-thumb-608x456.jpg");
$trekking : url("../images/trekking.jpg");

/* others */
$f : flex;
$fa-font-path: "../font";
